@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  background-color: #f2f3f5;
}

div {
  outline: 0;
}

p {
  word-break: break-word;
  padding-top: 1em;
  padding-bottom: 0.125rem;
  margin: 0;
  font-size: 1rem;
  color: #2e3338;
  line-height: 1.375rem;
}

.App {
  max-width: 46rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0px auto;
  // position: relative;
}

.content-wrapper {
  max-width: 56rem;
  padding: 30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  margin: 0 1em;
  height: 36rem;
}
