.text-input {
  width: inherit;
  height: 2rem;
  resize: none;
  outline: none;
  border: none;
  border-radius: 8px;
  background-color: rgb(232, 232, 232);
  font-size: 1rem;
  color: black;
  padding-left: 60px;
  padding-right: 50px;
}
